.btn1 {
  background-color: #dbb060;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  size: 35px;
  margin-inline: 10px;
  opacity: 2;
  transition-duration: 0.2s;
  color: white;
  box-shadow: 0 0 5px 0 rgba(236, 210, 84, 0.6);
  text-transform: uppercase;
}
.btn1:hover {
  opacity: 0.8;
  transition-duration: 0.2s;
  transform: translateY(-0.2em);
  box-shadow: 2px 2px 2px 0 rgba(167, 166, 164, 0.6);
}

.btn2 {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  size: 35px;
  margin-inline: 10px;
  opacity: 2;
  transition-duration: 0.2s;
  color: royalblue;
  box-shadow: 0 0 5px 0 rgba(65, 105, 225, 0.4);
}
.btn2:hover {
  opacity: 0.8;
  transition-duration: 0.2s;
  transform: translateY(-0.2em);
  background: rgba(255, 255, 255, 0.47);
}
.MuiSvgIcon-root {
  color: rgba(128, 128, 128, 0.82);
}
.MuiSvgIcon-root:hover {
  transition: all 0.3s ease;
  color: #e1bb73;
}
.MuiOutlinedInput-root,
.MuiOutlinedInput-input {
  border-radius: 50rem !important;
}
.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 13px !important;
  color: #1976d2 !important;
}
.MuiButton-root{
  background: #E1BB73 !important;
  border-radius: 50rem !important;
  color:white !important ;
  font-weight: 500 !important;

}
.MuiInputLabel-asterisk {
  color: red !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
